[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=leterrier-aller
Name=AbulEdu ALLER
Comment=Aide à La Lecture En Réseau
Icon=/usr/share/leterrier-aller/leterrier-aller-256.png
Categories=Education;
X-Horizon-Version=5.2.0~ryxeo82~revno1486
